[Desktop Entry]
Type=Application
Name=telephony-prototype
GenericName=telephony-prototype
Comment=telephony app prototype
Exec=qmlviewer /usr/share/telephony-prototype/telephony-prototype.qml
Terminal=false
