[Desktop Entry]
Type=Application
Name=telephony-app
GenericName=telephony-app
Comment=telephony application
Exec=telephony-app %u
Terminal=false
Icon=telephony-app
MimeType=x-scheme-handler/contact
