<?xml version="1.0" encoding="UTF-8"?>
<service id="telephony-sip-im">
  <type>IM</type>
  <name>SIP</name>
  <icon>sip</icon>
  <provider>telephony-sip</provider>
</service>
