Source: telephony-app
Section: x11
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: The Newyork team <newyork@lists.canonical.com>
Build-Depends: debhelper (>= 8.0.0),
               cmake,
               qt5-default,
               qtbase5-dev (>= 5.0),
               qtdeclarative5-dev (>= 5.0),
               qtmultimedia5-dev (>= 5.0),
               qtpim5-dev (>= 5),
               libtelepathy-qt5-dev,
               libtelepathy-logger-qt5-dev,
               libqtgstreamer-dev,
               pkg-config,
               libnotify-dev,
               libmessaging-menu-dev,
               libicu-dev,
               libgl-dev,
               libgles2-mesa-dev,
               python2.7,
               libubuntu-platform-api1-dev [armhf]
Standards-Version: 3.9.3
Vcs-Bzr: lp:marumbi
Vcs-Browser: https://bazaar.launchpad.net/~amanzi-team/marumbi/trunk/files

Package: telephony-app
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         telepathy-ofono,
         dconf-tools,
         telepathy-mission-control-5,
         telepathy-logger,
         libnotify4,
         notify-osd,
         libicu48,
         qt-components-ubuntu (> 0.1+bzr101),
         dbus-x11,
         ubuntu-sounds
Description: An application to execute telephony tasks such as calling and messaging
 An application to execute telephony tasks such as calling and messaging

Package: telephony-app-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    telephony-app (= ${binary:Version}),
    ${misc:Depends}
Description: debugging symbols for telephony-app
 This package contains the debugging symbols for telephony-app

Package: telephony-app-autopilot
Architecture: any
Section: debug
Priority: extra
Depends:
    telephony-app (= ${binary:Version}),
    ${misc:Depends},
    autopilot-qt5,
    python-autopilot
Description: autopilot tests for telephony-app
 This package contains the autopilot tests for telephony-app
