Source: telephony-service
Section: libs
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake,
               dbus-test-runner,
               dconf-cli,
               debhelper (>= 9),
               dh-translations,
               gnome-keyring,
               gsettings-ubuntu-schemas,
               libhistoryservice-dev,
               libicu-dev,
               libmessaging-menu-dev,
               libnotify-dev,
               libphonenumber-dev,
               libtelepathy-qt5-dev,
               libprotobuf-dev,
               pkg-config,
               python:any,
               qml-module-qttest,
               qt5-default,
               qtbase5-dev (>= 5.0),
               qtdeclarative5-dev (>= 5.0),
               qtdeclarative5-dev-tools (>= 5.0),
               qtdeclarative5-test-plugin (>= 5.0),
               qtfeedback5-dev,
               qtdeclarative5-ubuntu-ui-toolkit-plugin,
               qtmultimedia5-dev (>= 5.0),
               qtpim5-dev (>= 5),
               libusermetricsinput1-dev,
               telepathy-mission-control-5,
               xvfb,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/telephony-service
# If you aren't a member of ~phablet-team but need to upload packaging changes,
# just go ahead.  ~phablet-team will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~phablet-team/telephony-service/trunk
X-Ubuntu-Use-Langpack: yes

Package: telephony-service
Architecture: any
Multi-Arch: foreign
Pre-Depends: dpkg (>= 1.15.6~)
Conflicts: phone-app
Replaces: phone-app
Depends: accountsservice-ubuntu-touch-schemas,
         gsettings-ubuntu-schemas,
         history-service,
         libnotify4,
         telepathy-mission-control-5,
         ubuntu-sounds,
         tone-generator[!s390x],
         libusermetricsinput1,
         dconf-cli,
         ${misc:Depends},
         ${shlibs:Depends},
Suggests: telepathy-ofono
Description: Telephony service components for Ubuntu - backend
 Telephony service components for Ubuntu.
 .
 This package contains the backend components providing the telephony 
 features such as calling and texting.

Package: qtdeclarative5-ubuntu-telephony0.1
Architecture: any
Multi-Arch: same
Pre-Depends: dpkg (>= 1.15.6~)
Depends: gsettings-ubuntu-schemas,
         qtcontact5-galera[!s390x],
         telephony-service (>= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Suggests: telepathy-ofono
Description: Telephony service components for Ubuntu - QML plugin
 Telephony service components for Ubuntu.
 .
 This package contains the QML plugin providing the features from the telephony
 service to applications.

Package: qtdeclarative5-ubuntu-telephony-phonenumber0.1
Architecture: any
Multi-Arch: same
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${misc:Depends},
         ${shlibs:Depends},
         qtdeclarative5-ubuntu-ui-toolkit-plugin,
Description: Telephony service components for Ubuntu - QML plugin
 Telephony PhoneNumber components for Ubuntu.
 .
 This package contains the QML plugin providing the features from the telephony
 PhoneNumber to applications.

Package: account-plugin-sip-unity8
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: mcp-account-manager-uoa-common
Description: Online account plugin for unity8
 Online account plugin for unity8.
 .
 This package contains the online account plugin providing sip account.

Package: account-plugin-irc-unity8
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: mcp-account-manager-uoa-common
Description: Online account plugin for unity8
 Online account plugin for unity8.
 .
 This package contains the online account plugin providing irc account.

