#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_install:
	dh_install --fail-missing

%:
	dh $@ --parallel

override_dh_auto_configure:
	PKG_CONFIG_PATH=/opt/qt5/lib/pkgconfig/:${PKG_CONFIG_PATH} PATH=/opt/qt5/bin:${PATH} CMAKE_MODULE_PATH=/opt/qt5/lib/cmake/ dh_auto_configure -- -DCMAKE_BUILD_TYPE=Debug

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --dbg-package=telephony-app-dbg
