#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_install:
	dh_install --fail-missing

%:
	dh $@ --parallel

override_dh_auto_configure:
	PKG_CONFIG_PATH=/opt/qt5/lib/pkgconfig/ PATH=/opt/qt5/bin:${PATH} dh_auto_configure
