<?xml version="1.0" encoding="UTF-8"?>
<service id="telephony-irc-im">
  <type>IM</type>
  <name>IRC</name>
  <icon>irc</icon>
  <provider>telephony-irc</provider>

  <!-- default settings (account settings have precedence over these) -->
  <template>
    <group name="telepathy">
      <setting name="manager">irc</setting>
      <setting name="protocol">irc</setting>
      <setting type="b" name="ConnectAutomatically">true</setting>
    </group>
    <group name="auth">
      <setting name="method">password</setting>
      <setting name="mechanism">password</setting>
    </group>
  </template>

</service>
